.viewWrapper {
  width: 70vw;
  height: 65vh;
  display: flex;
  padding: 1em;
  background-color: white;
  border-radius: 1em;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(215, 100%, 97%);
}
