.circle {
  width: 2.2em;
  height: 2.2em;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-weight: bold;
}

.number {
  display: flex;
  justify-content: center;
  align-items: center;
}

.filled {
  background-color: hsl(206, 94%, 87%);
  color: hsl(213, 96%, 18%);
  border: 1px solid hsl(206, 94%, 87%);
}
